{% extends "base/base.html" %}
{% block title %} Ventas {% endblock %}
{% block contenido %}


            <!-- contenido -->
            <div class="card p-3" style="border-radius: 10px;">
              <p class="card-title">Administración de Ventas</p>
                <form class="formularioRegistrarProducto mb-4" id="formularioVenta" action="{% url 'ventas:crear_item_venta' %}" method='POST'>
                  {% csrf_token %}
                  <div class="row align-items-center">

                    <div class="col-md-2 me-4">
                          <div class="form-group">
                              <label >Venta:</label>
                              {{form.venta_tipo}}
                          </div>
                    </div>

                    <div class="col-md-2 me-4">
                          <div class="form-group">
                            <label>Pago:</label>
                            {{form.pago_tipo}}
                          </div>
                    </div>

                    <div class="col-md-2 me-4">
                          <div class="form-group">
                              <label >Comprobante:</label>
                              {{form.comprobante_tipo}}
                          </div>
                    </div>

                    <div class="col-md-2 me-4">
                          <div class="form-group">
                              <label >Nro de Comprobante:</label>
                              {{form.nro_comprobante}}
                          </div>
                    </div>


                </div>
                    <div class="row align-items-center">

                         <div class="col-md-4">
                             <div class="form-group">
                                  <label >Observaciones:</label>
                                  {{form.observaciones}}
                            </div>
                        </div>

                        <div class="col-md-6 me-2">
                            {% if messages %}
           
                                {% for message in messages %}
           
                                    {% if 'success' in message.tags %}
                                       <div  class=" alert alert-success d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                               <div>
                                                           {{message}}
                                               </div>
                                       </div>
                                       {% elif 'error' in message.tags %}
                                       <div class="alert alert-danger d-flex align-items-center" role="alert">
                                           <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                               <div>
                                                           {{message}}
                                               </div>
                                       </div>
                                    {% endif %}
           
                                {% endfor %}
           
                            {% endif %}
                                    </div>

                    </div>

                    <!-- experimental -->

          <div class="row justify-content-end col-md-9 ">
                      <div class="col-md-2 mt-2">
                        <input type="button" class="btn btn-success btn-sm  mt-1" id="agregarForm" onclick="agregarItem()" value="nuevo item">
                      </div>
          </div>
        <!--Tabla de productos-->

        <div class="col-md-10">
        <div class="table-responsive mt-1 mb-4" style="max-height: 400px; overflow-y: auto;">
          <table class="table table-hover " id="tablaItems">
            <thead>
              <tr>
                <th><strong>Producto</strong></th>
                <th><strong>Cantidad</strong></th>
                <th><strong>Precio</strong></th>
                <th><strong>Total</strong></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <!-- aca estan los formsets ------------------>
                     {{ formset.management_form }}
                     {% for form in formset %}
              <tr>
                <td>{{form.producto}}
                    {% if form.producto.errors %}
                     <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>
                                                {% for error in form.producto.errors %}
                                                        {{error}}
                                                {% endfor %}
                                    </div>
                     </div>
                    {% endif %}
                </td>
                <td>
                    {{form.cantidad}}
                    {% if form.cantidad.errors %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>
                                                {% for error in form.cantidad.errors %}
                                                        {{error}}
                                                {% endfor %}
                                    </div>
                    </div>
                        {% endif %}
                </td>
                <td class="precioProducto"></td>
                <td class="totalProducto"></td>
                <td>
                <td><input type="button" class="btn btn-danger btn-sm mt-4" onclick="eliminar(this)" value="eliminar"></td>
              </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>
        </div>

        <div class="row justify-content-end col-md-9">
            <div class="col-md-4 mt-2 d-flex align-items-center">
                <p class="mb-0 me-2"><strong>Total:</strong></p>
                <input type="text" id="totalFacturado" class="totalFacturado form-control form-control-sm text-black" disabled >
            </div>
        </div>
        
        <hr class="col-md-10">

                     <div class="row justify-content-end col-md-10 ">
                      <div class="col-md-2 mt-3">
                        <button type="submit" class="btn btn-success btn-sm  mt-4">realizar venta</button>
                      </div>
                     <div class="col-md-1 mt-3 ">
                       <button type="reset" class="btn btn-danger btn-sm mt-4">cancelar</button>
                      </div>
                 </div>


                </form>

                  




                   



 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
 

 // Función para calcular y actualizar el total facturado
 function actualizarTotalFacturado() {
    let totalFacturado = 0;
    $('#tablaItems .totalProducto').each(function() {
        const total = parseFloat($(this).text()) || 0;
        totalFacturado += total;
    });
    $('#totalFacturado').val(totalFacturado.toFixed(2));
    console.log('buenasss')
}


    $(document).ready(function() {
        // Detectar cambio en el producto seleccionado
        $('#tablaItems').on('change', 'select', function() {
            const productoId = $(this).val();
            const fila = $(this).closest('tr');
    
            if (productoId) {
                $.ajax({
                    url: '{% url "ventas:obtener_precio_producto" %}', // URL de tu vista Ajax para obtener el precio
                    data: {
                        'producto_id': productoId
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.precio) {
                            const precio = parseFloat(data.precio);
                            fila.find('.precioProducto').text(precio.toFixed(2));
                            actualizarTotalFila(fila); // Actualizar el total de la fila
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error al obtener el precio:', error);
                        fila.find('.precioProducto').text('0.00');
                        actualizarTotalFila(fila);
                    }
                });
            } else {
                fila.find('.precioProducto').text('0.00');
                actualizarTotalFila(fila);
            }
        });
    
         // Detectar cambio en la cantidad ingresada
         $('#tablaItems').on('input', 'input[type="number"]', function() {
            const fila = $(this).closest('tr');
            actualizarTotalFila(fila);
            actualizarTotalFacturado(); // aca lo puse
        });

        // Función para calcular y actualizar el total de una fila
        function actualizarTotalFila(fila) {
            const precio = parseFloat(fila.find('.precioProducto').text()) || 0;
            const cantidad = parseInt(fila.find('input[type="number"]').val()) || 0;
            const total = precio * cantidad;
            fila.find('.totalProducto').text(total.toFixed(2));
            actualizarTotalFacturado(); // aca lo puse

          
        }

        // Asegurarse de actualizar el total facturado al cargar la página
        actualizarTotalFacturado(); 

    }); // Aquí se cierra correctamente
    




    //funciones de la venta en la BD

    function eliminar(btn){
    let fila = btn.parentNode.parentNode;
    fila.parentNode.removeChild(fila);
        actualizarContadorFormularios();
        actualizarTotalFacturado(); // aca lo puse
    }

    function actualizarContadorFormularios(){
        totalForms = document.getElementById('id_items-TOTAL_FORMS')
        totalForms.value = parseInt(totalForms.value) - 1;
    }


    function agregarItem(){

    //actualizamos el contador del administrado de django
        totalForms = document.getElementById('id_items-TOTAL_FORMS')
        let numero = parseInt( totalForms.value );
        totalForms.value = parseInt(totalForms.value) + 1;
        

    //seleccionamos la fila base
    let filaBase = document.querySelector('#tablaItems tbody tr');

    if(filaBase) {
    //clonamos la fila base
    let nuevaFila = filaBase.cloneNode(true);

    //limpiamos los campos de la fila clonada
    let inputs = nuevaFila.querySelectorAll('input');
    let selects = nuevaFila.querySelector('select');

    inputs.forEach( input => {
    //limpiamos los campos
    if(input.type === "text" || input.type === "number") {
        input.value = "";
    }

    //actualizamos los nombres de los tipo number
    inputs.forEach( input => {
    if(input.type === "number"){
        input.name = `items-${numero}-cantidad`;
        input.value='1';
    }  });

     // Si es un select, cambia el nombre
    selects.name =`items-${numero}-producto`;

    
        // Limpiamos los valores de las celdas de precio y total
        nuevaFila.querySelector('.precioProducto').textContent = '0.00';
        nuevaFila.querySelector('.totalProducto').textContent = '0.00';

   });


        let tabla = document.getElementById('tablaItems').getElementsByTagName('tbody')[0];
        tabla.appendChild(nuevaFila);
        actualizarTotalFacturado(); // aca lo puse



 }else{
        console.error('no se encontro una fila base para clonar')
 }
}



</script>

{% endblock %}